# Dependency directories
node_modules/
target/

# sql-setup
sql/

# configuration
settings/

# dependency files
src/api/package-lock.json
src/api/package.json
Cargo.lock
Cargo.toml

# styling
*.sass

# jquery
jquery-3.6.0.min.js

# tests that are currently in debugging
value.html
