# Editor directories
.idea/
.vscode/

# Dependency directories
node_modules/
target/

# sql-setup
sql/

# configuration
settings/

# JavaScript dependency files
src/api/package-lock.json
src/api/package.json

# Rust dependency files
Cargo.lock
Cargo.toml

# CSharp dependency files and directories
bin/
obj/
*.csproj
*.sln

# styling
*.sass

# jquery
jquery-3.6.0.min.js

# tests that are currently in debugging
value.html

# java libraries
*.jar

# all unfinished mining scripts (only for now)
java/
csharp/
python/
